/* write your CSS here */
*{
	margin: 0;
}

#images{

	width: 50%;
	text-align: center;
}
#images img{
	padding: 1.5em;
}


.nav a{
	text-decoration: none;
	color:black;
	padding: 1em;
	font-size: 4.5em;
}
.nav {
	text-align: center;
	border: 2px black;
}

.row {
	display:inline;
	}

.p {
	font-size:12;
	}