/* write your CSS here */
*{
	margin: 0;
}

#images{

	width: 60%;
	text-align: center;
}
#images img{
	padding: 1.5em;
}


.nav a{
	text-decoration: none;
	color:black;
	padding: 1em;
	font-size: 1em;
}
.nav {
	text-align: center;
	border: 2px black;
}

.row {
	display:inline;
	}

.caption {
	font-size:8;
	}

.thumbnail {
	height: 500px
}	

p{
	font-family: Helvetica;
	font-size: 30;
}
